{{#each parks as |park|}}

  <section data-id="{{park.id}}">
    <h6></h6>
    <h3>
      Name: {{limit park.name 15}}
    </h2>
    <h6></h6>
    <p>
      Address:
      {{#if park.address}}
        {{park.address}}
      {{else}}
        No address provided.
      {{/if}}
    </p>
    <h6></h6>
    <p>
      Bathroom: {{park.bathroom}}
    </p>
    <p> ID: {{park.id}}
      {{#if park.editable}}

    <button data-id="{{park.id}}" class="btn btn-danger delete-park">Remove park</button>
    <h2>Edit Park</h2>
    <form data-id="{{park.id}}" class="editPark">
      <input type="text" name="park[name]" placeholder="Name"/>
      <input type="text" name="park[address]" placeholder="Address"/>
      <input type="text" name="park[bathroom]" placeholder="Bathroom? (true or false)"/>
      <input  class="edit-park-submitter btn btn-success" type="submit" value="Change Park"/>
    </form>
    {{/if}}
  </section>

{{/each}}
